<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multi_screenlanguageapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiscreenLanguageApp" >
        <activity
            android:name=".Phrases"
            android:exported="false"
            android:label="@string/Phrases"/>
        <activity
            android:name=".Relations"
            android:exported="false"
            android:label="@string/Relations" />
        <activity
            android:name=".color"
            android:exported="false"
            android:label="@string/Color" />
        <activity
            android:name=".number"
            android:exported="false"
            android:label="@string/Number" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>